<div class="card">
  <div class="card-header bg-info"><h3>Employee Registration</h3></div>
  <div class="card-body">
      <form action="" [formGroup]="EmployeeForm" (ngSubmit)="formsubmit()">
          <div class="row">
              <div class="form-group col">
                  <label for="">Department</label>
                  <select name="" id="" class="form-control" name="department" formControlName="department" [ngClass]="display" >
                      <option value="">---select----</option>
                      <option value="Accounts">Accounts</option>
                      <option value="Manager">Manager</option>
                      <option value="Administration">Administration</option>
                  </select>
              </div>
              <div class="form-group col">
                  <label for="">Employee Name</label>
                  <input type="text" class="form-control" name="empName" formControlName="empName"  [readonly]="disableMessage"  [ngClass]="display">
              </div>
              <div class="form-group col">
                  <label for="">Mobile</label>
                  <input type="text" class="form-control" name="mobile" formControlName="mobile"  [readonly]="disableMessage" [ngClass]="display">
              </div>
              
          </div>
          <div class="row">
              <div class="form-group col">
                  <label for="">Gender</label>
                  <select name="" id="" class="form-control" name="gender" formControlName="gender" [ngClass]="display">
                      <option value="">---select----</option>
                      <option value="Male">Male</option>
                      <option value="Female">Female</option>
                  </select>
              </div>
              <div class="form-group col">
                  <label for="">Date Of Birth</label>
                  <input type="date" class="form-control" name="joinDate" formControlName="joinDate"  [readonly]="disableMessage" [ngClass]="display">
              </div>
              <div class="form-group col">
                  <label for="">Email</label>
                  <input type="email" class="form-control" name="email" formControlName="email"  [readonly]="disableMessage" [ngClass]="display">
              </div>
             
          </div>
          <div class="row">
              <div class="form-group col mt-2">
                  <label for="">Salary</label>
                  <input type="email" class="form-control" name="salary" formControlName="salary"  [readonly]="disableMessage" [ngClass]="display">
              </div>
              <div class="form-group col mt-2">
                  <label for="">Password</label>
                  <input type="password" class="form-control" name="password" formControlName="password"  [readonly]="disableMessage" [ngClass]="display">
              </div>
              <div class="form-group col mt-2">
                  <label for="">Confirm Password</label>
                  <input type="text" class="form-control" name="confirmPass" formControlName="confirmPass"  [readonly]="disableMessage" [ngClass]="display">
              </div>
          
          </div>
          <div class="row ">
              <div class="form-group text-center mt-2">
                  <button type="submit"class="btn btn-warning me-2">{{buttonText}}</button>
                  <button type="button" class="btn btn-danger me-2"  (click)="cancelbtn()">Cancel</button>
                  <button  type="button"class="btn btn-success" (click)="resetbtn()">Reset</button>
              </div>
          
          </div>

      </form>
  </div>
</div>
<div class="card">
  <div class="card-header bg-dark text-white">
      <h3>Employee List</h3>
  </div>
  <input type="text" [(ngModel)]="term" placeholder="search">
  <div class="card-body">
      <form action="" [formGroup]="EmployeeForm">
                  <div class="row">
          <table class="table table-bordered table-responsive table-striped">
              <thead>
                  <tr class="text-center">
                      <th>Department</th>
                      <th>Employee Name</th>
                      <th>Mobile</th>
                      <th>Gender</th>
                      <th>Joining Date</th>
                      <th>Email</th>
                      <th>Action</th>
                  </tr>
              </thead>
              <tbody>
                  <tr class="text-center"  *ngFor="let data of employees | filter:term">
                      <td>{{data.department}}</td>
                      <td>{{data.empName}}</td>
                      <td>{{data.mobile}}</td>
                      <td>{{data.gender}}</td>
                      <td>{{data.joinDate}}</td>
                      <td>{{data.email}}</td>
                      <td class="text-center ">
                          <i class="fa fa-pencil me-2" style="color: #027d0e;" (click)="editData(data.id)"></i>
                          <i class="fa fa-eye me-2" style="color: #050b66;" (click)="showData(data.id)"></i>
                          <i class="fa fa-trash" style="color: rgb(242, 3, 3);" (click)="deleteData(data.id)"></i>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </form>

  </div>
</div>
